.gallery {
	transition: $content-trans;
    transform-origin: left top;
    border: 1px solid black;
    overflow: hidden;
    height: 100%;

    &__system {
        background-color: rgba(0,0,0,0.6);
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &__select {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
    }

    &__list {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        overflow: auto;
        height: 100%;
    }

    &__list-item {
        //transform: translate3d(0,0,0);
        transition: $content-trans;
        display: block;
        position: relative;
        height: 300px;

        &:before,
        &:after {
            transition: $content-trans;
            content: "";
            opacity: 1;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &:before {
            //background-color: rgba(0,0,0,0.4);
            z-index: 2;
        }

        &:after {
            background-image: linear-gradient(to top, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.3) 15%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0.0) 100%);
            opacity: 0;
            z-index: 1;
        }

        &:hover {
            box-shadow: 0 0 5px black;
            z-index: 2;

            &:before {
                opacity: 0;
            }

            &:after {
                transform: translateY(0);
                opacity: 1;
            }

            .gallery__list-link {
                transform: translateX(0);
                opacity: 1;

                &:hover {
                    transform: translateX(0) scale(1.1);
                }
            }

            .gallery__list-link_git {

                &:before {
                    transform: translateY(-50%) rotate(0);
                }
            }
        }
    }

    &__list-sitelink {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        overflow: hidden;
        position: relative;
        height: 100%;
        z-index: 1;

        &:before {
            transition: 1.5s;
            background-color: white;
            //content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }

    &__list-img-span {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 100%;
    }

    &__list-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        //opacity: 0;
        //visibility: hidden;
        min-height: 100%;
        min-width: 100%;
        height: 100%;
        //width: 100%;
    }

    //
    &__btn {}
    //

    &__list-btns {
        padding: 0 20px;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: 3;
    }

    &__list-link {
        transition: $content-trans;
        transform: translateX(-10px);
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        border-radius: 50%;
        display: inline-block;
        color: black;
        font-size: 1.4em;
        pointer-events: auto;
        margin-right: 10px;
        opacity: 0;
        vertical-align: top;
        height: $gallery-list-link-size;
        width: $gallery-list-link-size;
        z-index: 2;

        &_git {
            font-size: 2em;
        }

        &_frame {

            @include media(w768) {
                display: none;
            }
        }

        i {
            transform: translate(-50%,-50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }

    &__list-frame-wrap {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    &__list-frame-loader {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &:before {
            content: "";
            animation: gallery-frame-loader-animate infinite 2s linear;
            border-top: 4px solid black;
            border-right: 4px solid red;
            border-bottom: 4px solid red;
            border-left: 4px solid red;
            border-radius: 50%;
            position: absolute;
            height: $gallery-list-frame-loader-size;
            width: $gallery-list-frame-loader-size;
        }
    }

    &__list-frame {
        height: 100%;
        width: 100%;

        &:before {
            content: "aaa";
        }
    }

    &__frame-wrap {
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 7;
    }

    &__frame {
        background-color: white;
        position: absolute;
        top: 5%;
        left: 5%;
        height: 90%;
        width: 90%;
    }
}

@keyframes gallery-frame-loader-animate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


// gallery-img-fade
.gallery-img-fade-enter {
    opacity: 0;
}

.gallery-img-fade-enter-to {
    opacity: 1;
}

.gallery-img-fade-enter-active {
    transition: 0.5s;
}

// frame-fade
.frame-fade-enter, .frame-fade-leave-to {
    opacity: 0;
}

.frame-fade-enter-to, .frame-fade-leave {
    opacity: 1;
}

.frame-fade-enter-active, .frame-fade-leave-active {
    transition: 0.5s;
}