.gallery {
	transition: $content-trans;
    transform-origin: left top;
    border: 1px solid black;
    overflow: hidden;
    height: 100%;

    // debugging options

    &__system {
        background-color: rgba(0,0,0,0.6);
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &__select {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
    }

    // /debugging options

    &__list {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        overflow: auto;
        height: 100%;
    }

    &__list-item {
        transition: $content-trans;
        display: block;
        position: relative;
        height: 300px;

        &:after {
            content: "";
            transition: $content-trans;background-image: linear-gradient(to top, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.3) 15%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0.0) 100%);
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        &:hover {
            box-shadow: 0 0 5px black;
            z-index: 2;

            &:after {
                transform: translateY(0);
                opacity: 1;
            }

            .gallery__list-link {
                transform: translateX(0);
                opacity: 1;

                &:hover {
                    //transform: translateX(0) scale(1.1);
                }
            }
        }
    }

    &__list-sitelink {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        overflow: hidden;
        position: relative;
        height: 100%;
        z-index: 1;
    }

    &__list-img {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 100%;
    }

    &__list-links {
        padding: 0 20px;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: 3;
    }

    &__list-link {
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        display: inline-block;
        cursor: pointer;
        font-size: 1.4em;
        pointer-events: auto;
        margin-right: 10px;
        opacity: 0;
        vertical-align: top;
        height: $gallery-list-link-size;
        width: $gallery-list-link-size;
        z-index: 2;
    
        &_git {
            font-size: 2em;
        }

        &_frame {

            @include media(w768) {
                display: none;
            }
        }

        i {
            transform: translate(-50%,-50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        @for $i from 1 to 10 {

            &:nth-child(#{$i}) {
                transform: translateX(-20px / $i + 2);
            }
        }

        @include media(w1024) {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__frame-wrap {
        transform: translate3d(0,0,0);
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 7;
    }

    &__frame-container {
        transition: 1s;
        background-color: white;
        box-shadow: 0 0 8px rgba(255,255,255,0.8), 0 0 6px rgba(255,255,255,0.9), 0 0 4px rgba(255,255,255,1);
        position: absolute;
        top: 5%;
        left: 5%;
        height: 90%;
        width: 90%;

        &_move {
            transition: none;
        }
    }

    &__frame-close {
        background-color: white;
        box-shadow: 0 0 3px rgba(0,0,0,0.5), 0 0 3px rgba(255,255,255,0.5);
        cursor: pointer;
        position: absolute;
        top: calc(-#{$gallery-frame-close-size} / 4);
        right: calc(-#{$gallery-frame-close-size} / 4);
        height: $gallery-frame-close-size;
        width: $gallery-frame-close-size;
        z-index: 3;

        &:before,
        &:after {
            transition: $trans;
            content: "";
            background-color: black;
            margin-left: -1px;
            position: absolute;
            top: 10px;
            left: 50%;
            height: $gallery-frame-close-size - 20px;
            width: 2px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {

            &:before,
            &:after {
                background-color: white;
            }
        }

        &_animate {
            animation: gallery-frame-close-animate 0.7s linear;
        }
    }

    &__frame-loader {
        transition: $trans;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;

        &:before {
            animation: gallery-frame-loader-animate 2s infinite linear;
            content: "";
            border: 4px solid black;
            border-bottom: 4px solid rgba(0,0,0,0.2);
            border-radius: 50%;
            margin-top: calc(-#{$gallery-frame-container-loader-size} / 2);
            margin-left: calc(-#{$gallery-frame-container-loader-size} / 2);
            position: absolute;
            top: 50%;
            left: 50%;
            height: $gallery-frame-container-loader-size;
            width: $gallery-frame-container-loader-size;
        } 
        
        &_hide {
            opacity: 0;
            visibility: hidden;

            &:before {
                content: none;
            }
        }
    }

    &__frame {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    &__frame-resize {
        transition: $trans;
        background-color: black;
        cursor: e-resize;
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: 6px;
        z-index: 2;

        &_active {
            background-color: greenyellow;
        }

        &:hover {
            background-color: greenyellow;
        }

        @include media(w1024) {
            display: none;
        }
    }

    &__frame-cap {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}

@keyframes gallery-frame-loader-animate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gallery-frame-close-animate {

    50% {
        background-color: black;

        &:before,
        &:after {
            background-color: white;
        }
    }
}


// gallery-img-fade
.gallery-img-fade-enter {
    opacity: 0;
}

.gallery-img-fade-enter-to {
    opacity: 1;
}

.gallery-img-fade-enter-active {
    transition: 0.5s;
}

// frame-fade
.frame-fade-enter, .frame-fade-leave-to {
    opacity: 0;
}

.frame-fade-enter-to, .frame-fade-leave {
    opacity: 1;
}

.frame-fade-enter-active {
    transition: 0.5s;
}

.frame-fade-leave-active {
    transition: 0;
}