.header {
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 10;

	@include media(w768) {
		top: 30px;
	}
}

.header-nav-enter-active {
	transition: 1s;
}

.header-nav-enter, .header-nav-leave-to {
	transform: translateY(-10px);
	opacity: 0;
}

.header-nav-enter-to, .header-nav-leave {
	transform: translateY(0);
	opacity: 1;
}