.header {
	background-color: white;
	transition: $content-trans;
	border: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: $header-width;
	z-index: 1;

	&:hover {
		width: 30%;

		.header__title-letter {
			transform: translateY(-100vh);
			opacity: 0;

			&:first-child {
				transition: all $header-title-letter-time ease;
			}

			&:nth-child(2) {
				transition: all $header-title-letter-time + 0.2s ease;
			}

			&:nth-child(3) {
				transition: all $header-title-letter-time + 0.4s ease;
			}

			&:nth-child(4) {
				transition: all $header-title-letter-time + 0.6s ease;
			}
		}

		.header__nav {
			transform: translate(0, -50%);
			opacity: 1;
		}
	}

	&__title {
		user-select: none;
		transition: $content-trans;
		transform: translateY(-50%);
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		pointer-events: none;
		position: absolute;
		top: 50%;
		left: 0;
		width: $header-width;
	}

	&__title-letter {
		transition: $content-trans;
	}

	&__nav {
		transition: all $header-title-letter-time - 0.3s ease 0.2s;
		transform: translate(-50px, -50%);
		position: absolute;
		top: 50%;
		left: 20px;
		opacity: 0;
		z-index: 1;
	}
}

@keyframes headerTitleLetter1 {

	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100vh);
	}
}