.nav {
    position: relative;
    height: 100%;

    &__link {
        transition: $trans;
        background-color: white;
        box-shadow: 0 0 10px black;
        border-radius: 50%;
        display: block;
        //opacity: 0;
        position: absolute;
        top: calc((100% - #{$nav-link-size}) / 2);
        left: calc((100% - #{$nav-link-size}) / 2);
        text-align: center;
        height: $nav-link-size;
        width: $nav-link-size;
        z-index: 1;

        &_active {
            opacity: 1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
        }
    }
}

.scale-enter-active, .scale-leave-active {
    transition: $trans;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.scale-enter, .scale-leave-to {
    height: 100%;
    width: 100%;
}