.nav {
    position: relative;
    height: 100%;

    &__link {
        //transition: $trans;
        background-color: white;
        box-shadow: 0 0 10px black;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        height: $nav-link-size;
        width: $nav-link-size;
        z-index: 1;
    }
}

.scale-enter {
    opacity: 0;
}

.scale-enter-to {
    opacity: 1;
}

.scale-enter-active {
    transition: all 1s 0.1s;
}

.scale-leave {
    //opacity: 0;
}

.scale-leave-to {
    transform: scale(1.5);
    opacity: 0;
}

.scale-leave-active {
    transition: 1s;
}