.content {
	transition: $content-trans;
	perspective: 800px;
	border: 1px solid black;
	padding-left: $header-width;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	&_move {
		transform: translateX(calc(#{$header-full-width} - #{$header-width}));

		.gallery {
			transform: rotateY(30deg);
		}
	}

	&__container {
		min-height: 100%;
	}
}

.move-enter-active, .move-leave-active {
	transition: opacity .5s
}
.move-enter, .move-leave-to {
	opacity: 0
}