script#page-gallery(type="text/x-template")
    div(:height="galleryHeight").gallery
        div.gallery__system
            div.gallery__system-info.
                scroll-top: {{ galleryScrollTop }}
            div.gallery__system-info.
                display-height: {{ document.documentElement.clientHeight }}
            div.gallery__system-info.
                scroll-height: {{ galleryHeight }}
        //button(@click="loadImg").gallery__btn.
            111
        div(@scroll="checkVisible").gallery__list
            div(v-for="(item, index) in listAr", :top="item.top", :style="{height: galleryListHeight + 'px'}").gallery__list-item
                a(:href="item.href").gallery__list-sitelink
                    img(:src="setTop(item)", alt="", :data-src="item.imgsrc").gallery__list-img
                a(:href="item.gitlink").gallery__list-link.gallery__list-link_git