script#page-gallery(type="text/x-template")
    div.gallery
        //div.gallery__system
            div.gallery__system-info.
                scroll-top: {{ galleryScrollTop }}
            div.gallery__system-info.
                display-height: {{ document.documentElement.clientHeight }}
            div.gallery__system-info.
                scroll-height: {{ size.list.height }}
        div.gallery__select
            select(v-model="galleryColumn" @change="setColumnSize")
                option(v-for="item in columns" :value="item").
                    {{ item }}
        div(@scroll="renderGallery").gallery__list
            div(v-for="(item, index) in listAr", @mouseover="itemMouseover" :top="item.top", :style="{height: size.item.height + 'px',width: size.item.width + '%'}").gallery__list-item
                div.gallery__list-btns
                    a(v-if="item.gitlink !== 'http://'" :href="item.gitlink").gallery__list-link.gallery__list-link_git
                        i.fa.fa-github
                    a(@click.prevent="loadFrame(item)" :href="item.gitlink").gallery__list-link
                        i.fa.fa-eye
                transition(name="frame")
                    a(@click.prevent="" v-if="!JSON.parse(item.showframe)" :href="item.href", :class="JSON.parse(item.visible) === true ? 'gallery__list-sitelink_load' : ''").gallery__list-sitelink
                        img(:src="item.imgload", alt="", :data-src="item.imgsrc").gallery__list-img
                    div(v-else="JSON.parse(item.showframe)").gallery__list-frame-wrap
                        div(v-show="JSON.parse(item.frameload) === false ? true : false").gallery__list-frame-loader
                        iframe(@load="frameLoaded(item)" :src="item.href", frameborder="0").gallery__list-frame
        //div.gallery__site