script#page-gallery(type="text/x-template")
    div().gallery
        //div.gallery__system
            div.gallery__system-info.
                scroll-top: {{ galleryScrollTop }}
            div.gallery__system-info.
                display-height: {{ document.documentElement.clientHeight }}
            div.gallery__system-info.
                scroll-height: {{ size.list.height }}
        //div.gallery__select
            select(v-model="galleryColumn" @change="setColumnSize")
                option(v-for="item in columns" :value="item").
                    {{ item }}
        div(@scroll="scrollGalleryList").gallery__list
            div(v-for="(item, index) in listAr", :top="item.top", :style="{height: size.item.height + 'px',width: size.item.width + '%'}").gallery__list-item
                div.gallery__list-links
                    a(v-if="item.gitlink !== 'http://'" :href="item.gitlink" target="_blank").btn-round.gallery__list-link.gallery__list-link_git
                        i.fa.fa-github
                    a(@click.prevent="openFrame(item, $event)").btn-round.gallery__list-link.gallery__list-link_frame
                        i.fa.fa-eye
                transition(name="gallery-img-fade")
                    a(@click="" v-show="galleryImgLoaded(item)" :href="item.href", target="_blank").gallery__list-sitelink
                        span(:style="'backgroundImage:url(' + item.imgload +')'").gallery__list-img
        transition(name="frame-fade", @before-enter="frameBeforeEnter", @after-enter="frameAfterEnter")
            div(@click.self="closeFrame" v-show="galleryFrame.show" @mousemove="mouseMove($event)" @mouseup="mouseUp($event)").gallery__frame-wrap
                div(:style="{width: galleryFrame.move.galleryWidth ? galleryFrame.move.galleryWidth + 'px' : ''}" :class="galleryFrame.move.mouseDown ? 'gallery__frame-container_move' : ''").gallery__frame-container
                    div(@click="closeFrame($event)" :class="galleryFrame.load === true ? 'gallery__frame-close_animate' : ''").btn-round.gallery__frame-close
                    div(:class="galleryFrame.load === true ? 'gallery__frame-loader_hide' : ''").gallery__frame-loader
                    iframe(@load="frameLoad" :src="galleryFrame.src", frameborder="0").gallery__frame
                    div(@mousedown="mouseDown($event)" :class="galleryFrame.move.mouseDown ? 'gallery__frame-resize_active' : ''").gallery__frame-resize
                    div(v-show="galleryFrame.move.mouseDown").gallery__frame-cap
                        