script#site-nav(type="text/x-template")
    nav.nav
        transition-group(name="scale")
            a(v-for="(item, index) in list" v-show="item.location === navlocation" :key="item" @click.prevent="setLocation(item, index)").nav__link.
                {{ index }}