$trans: all 0.3s ease;
$content-trans: all 0.8s ease;
$header-title-letter-time: 0.8s;

$header-width: 100px;
$content-width: calc(100% - #{$header-width});

$container-padding-side-pc: 30px;

$max-width: calc(1024px + 2*#{$container-padding-side-pc});